:root {
  --bg-light-blue: #5cb6f9;
  --bg-mid-blue: #4248c5;
  --white-text: #fbfafa;
  --black-text: #050a30;
  --hover-link-color: #5cb6f9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--white-text);
  background-color: #050a30;
  text-align: left;
}

section,
footer,
header,
main,
nav {
  display: block;
}

a {
  text-decoration: none;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin-top: 0;
}
button {
  outline: none;
  border: none;
  background: transparent;
  color: var(--white-text);
}

.hidden {
  display: none;
}

.menu-btn {
  background-color: var(--bg-mid-blue);
  border-radius: 15px;
  padding: 20px;
}
