/*Tablet_Portrait*/
@media (min-width: 768px) {
  #banner {
    margin-top: 8.5rem;
  }
  #sideMenu {
    top: 5.7rem;
  }
  #searchResults .search-list {
    width: 33vw;
  }
  #infoModule {
    top: 5.7rem;
    width: 75vw;
    
  }
  .info-body .info-bottom {
    margin: auto;
    width: 50vw;
  }
  .moves-list {
    width: 30vw;
  }
}
/*Tablet_Landscape*/
@media (min-width: 1000px) and (max-width: 1023px) {
  #sideMenu {
    top: 7.1rem;
  }
  #infoModule {
    top: 8.7rem;
  }
}
