/* headBar */
#headBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-light-blue);
  color: var(--black-text);
  padding: 7px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
#headBar img {
  max-width: 10vw;
}
#headBar .site-title {
  font-size: 28px;
  margin-top: 1px;
}
#headBar .head-menu {
  padding: 6px 7px;
}
/* banner */
#banner {
  margin-top: 4.5rem;
  text-align: center;
}
#banner .top-marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  overflow: hidden;
  position: relative;
  margin: auto;
}
.marquee-content {
  display: flex;
  height: 100%;
  animation: scrolling var(--marquee-duration-animation) linear infinite;
}
.marquee-content .img-container {
  max-width: var(--marquee-elm-width);
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  white-space: nowrap;
  flex-shrink: 0;
}
.marquee-content .img-container img {
  width: calc(var(--marquee-height) * 3 / 4);
  margin: 0 3.5rem;
}
.top-marquee::before,
.top-marquee::after {
  position: abosolute;
  height: 100%;
  top: 0;
  content: "";
  z-index: 1;
  width: 10rem;
}
.top-marquee::before {
  left: 0;
  background: linear-gradient(to right, #fff 0%, transparent 100%);
}
.top-marquee::after {
  right: 0;
  background: linear-gradient(to left, #fff 0%, transparent 100%);
}
/* sideMenu */
#sideMenu {
  width: 100%;
  text-align: center;
  background: var(--bg-mid-blue);
  padding: 0.5rem;  
  position: fixed;
  top: 3.5rem;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  transition: 0.4s;
  z-index: 99;
}
#sideMenu.open {
  transition: 0.4s;
  transform: translateY(0);
}
#sideMenu .menu-bar {
  justify-content: space-between;
  margin-bottom: 0.3rem;
}
.close-x .fa-x {
  font-size: 18px;
  pointer-events: none;
}
.filter-container .filter-select {
  width: 225px;
  margin: 7px auto;
  font-size: 18px;
  padding: 5px;
}
#sideMenu .reset {
  margin: 10px 0 16px;
  font-size: 18px;
  background-color: var(--bg-light-blue);
  color: var(--black-text);
  padding: 7px 10px;
}

/* searchResults */
#searchResults {
  margin: 2rem 1rem;
  text-align: center;
}
#searchResults .search-title {
  font-size: 30px;
  text-transform: capitalize;
}
#searchResults .search-num {
  font-size: 24px;
}
#searchResults .search-list {
  display: flex;
  flex-flow: column;
  align-items: baseline;
  width: 85vw;
  margin: 1rem auto;
}
.search-item .info-btn {
  font-size: 20px;
  text-transform: capitalize;
  color: var(--white-text);
}
.info-btn:hover {
  color: red;
}
/* infoModule */
#infoModule {
  position: fixed;
    top: 57px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-mid-blue);
    z-index: 98;
}
#infoModule .info-bar {
  justify-content: space-around;
  padding: 1rem 0;
}
/*animation keyframes*/
 @keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-1 * var(--marquee-elm-width) * var(--marquee-elms))
    );
  }
}