#headBar,
#headBar .title-wrapper {
  display: flex;
  align-items: center;
}

#headBar {
  background-color: var(--bg-light-blue);
  color: var(--black-text);
  padding: 15px 25px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.title-wrapper .img-wrapper {
  max-width: 100px;
}

.title-wrapper .img-wrapper img {
  width: 100%;
}

.title-wrapper .site-title {
  font-size: 60px;
  margin-left: 1.5rem;
}

.menu-btn .fa-bars {
  font-size: 30px;
  pointer-events: none;
}

#headBar .menu-btn {
  margin-right: 2.5rem;
}

#sideMenu {
  width: 26rem;
  text-align: center;
  background: var(--bg-mid-blue);
  padding: 2rem;
  position: fixed;
  top: 10rem;
  right: 0;
  transform: translateX(100%);
  transition: 0.4s;
  z-index: 99;
}

#sideMenu.open {
  transition: 0.4s;
  transform: translateX(0);
}

#sideMenu .top-bar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 2rem;
}

#sideMenu .top-bar h3 {
  font-size: 30px;
}

.menu-btn .fa-x {
  font-size: 24px;
}

#sideMenu .menu {
  display: flex;
  flex-flow: column;
  font-size: 28px;
  line-height: 1.75;
}

.menu .menu-link {
  color: var(--white-text);
}

.menu-link:hover {
  color: var(--hover-link-color);
}

#displayView {
  position: absolute;
  top: 10rem;
  left: 0;
  right: 0;
  text-align: center;
}

#displayView .banner-text {
  font-size: 50px;
  margin: 3rem auto 5rem;
}

#displayView .home-box {
  padding-top: 2rem;
}

.home-box .home-text {
  font-size: 45px;
}

.home-box .menu-btn {
  margin-top: 3rem;
  font-size: 30px;
}
