.headbar,
.headbar .title-wrapper {
  display: flex;
  align-items: center;
}

.headbar {
  background-color: var(--bg-light-blue);
  color: var(--black-text);
  padding: 15px 25px;
  justify-content: space-between;
}

.title-wrapper .img-wrapper {
  max-width: 100px;
}

.title-wrapper .img-wrapper img {
  width: 100%;
}

.title-wrapper .site-title {
  font-size: 60px;
  margin-left: 1.5rem;
}

.menu-icon .fa-bars {
  font-size: 30px;
  margin-right: 2.5rem;
  background-color: var(--bg-mid-blue);
  padding: 20px;
  border-radius: 15px;
  color: var(--white-text);
}